.main{
    background-color: white;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;

}

.container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    width: 90%;
    max-width: var(--max-width);

}

.container h5{
    color: var(--supportColor);
    font-size: 35pt;
}

.container h5 span{
    font-weight: bold;
    color: var(--mainColor);
}

.container p{
    color: white;
    font-size: 16pt;
    margin-top: 15px;
}

.container p span{
    font-weight: bold;
    color: var(--mainColor);
}


@media screen and (min-width: 850px) and (max-width:1024px){

}

@media screen and (min-width: 550px) and (max-width:850px){

}

@media screen and (min-width: 0px) and (max-width:550px){
    .container h5{
        color: var(--supportColor);
        font-size: 23pt;
    }

    .container p{
        width: 80%;
    }
}