.main{
    width: 100%;
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.container{
    width: 90%;
    z-index: 2;
    margin-top: -80px;
    margin-bottom: 80px;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: var(--max-width);
}

.itemChico{
    width: 47%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.diagonalDiv{
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
    background-color: var(--suportColor);
    margin-top: -25px;
    padding: 50px 20px;
    width: 100%;
}

.itemChico ul{
    margin-top: 20px;
    text-align: center;
    list-style: none;
    width: 80%;
}

.itemChico ul li{
    margin-top: 10px;
    text-align: center;
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.itemChico ul li p{
    width: 90%;
    font-size: 15pt;
    margin-left: 15px;
}

.itemChico ul li p span{
    font-weight: bold;
}

.itemChico ul li .square{
    width: 15px;
    height: 15px;
    background-color: var(--mainColor);
}

.diagonalDiv2{
    clip-path: polygon(100% 0, 0 15%, 0 85%, 100% 100%);
    background-color: var(--suportColor);
    margin-top: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 62px 20px;
}

.diagonalDiv2 h2{
    color: white;
    text-align: right;
    font-size: 26pt;
}
.diagonalDiv h2{
    text-align: left;
    color: white;
    font-size: 23pt;
}
.diagonalDiv h2 span{
    color: var(--mainColor);
}
.diagonalDiv2 h2 span{
    color: var(--mainColor);
}


.diagonalDiv2text{
    margin-top: 30px;
    width: 80%;
    font-size: 15pt;
    text-align: center;
}

.diagonalDiv2text span{
    font-weight: bold;
    color: var(--mainColor);
}

.convertButton{
    border: none;
    outline: none;
    padding: 40px;
    transition: all 500ms ease-in-out;
    cursor: pointer;
    width: 80%;
    clip-path: polygon(100% 0, 0 15%, 0 85%, 100% 100%);
    margin-top: 20px;
    position: relative;
    background-color: var(--mainColor);
}

.convertButton:hover{
    opacity: 0.8;
}

.convertButton p{
    color: white;
    font-size: 20pt;
    line-height: 100%;
}

.convertButton p span{
    font-weight: bold;
}
.covertArrow{
    position: absolute;
    right: 0;
    margin-right: -20px;
    z-index: 10;
    bottom: 0;
    margin-bottom: 120px;
    margin-left: -30px;
}

.itemParallax{
    position: absolute;
    right: 0;
    margin-right: -70px;
    filter: blur(2)
}



@media screen and (min-width: 550px) and (max-width: 1024px){
    .container{
        width: 90%;
        z-index: 2;
        margin-top: -80px;
        margin-bottom: 80px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        max-width: var(--max-width);
    }

    .diagonalDiv2{
        clip-path: polygon(100% 0, 0 15%, 0 85%, 100% 100%);
        background-color: var(--suportColor);
        margin-top: -25px;
        padding: 50px 20px;
        width: 100%;
    }

    .diagonalDiv2 h2{
        color: white;
        text-align: left;
        font-size: 26pt;
    }

    .itemChico{
        width:100%;
        max-width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
}


@media screen and (min-width: 0px) and (max-width: 550px){
    .container{
        width: 100%;
        z-index: 2;
        margin-top: -80px;
        margin-bottom: 80px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        max-width: var(--max-width);
    }

    .itemChico{
        width:100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .itemChico:nth-child(2){
        margin-top: 60px;
    }

    .diagonalDiv2{
        clip-path: polygon(100% 0, 0 15%, 0 85%, 100% 100%);
        background-color: var(--suportColor);
        margin-top: -25px;
        padding: 50px 20px;
        width: 100%;
    }

    .diagonalDiv2 h2{
        color: white;
        text-align: right!important;
        font-size: 18pt;
    }

    .diagonalDiv{
        clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
        background-color: var(--suportColor);
        margin-top: -35px;
        padding: 50px 20px;
        width: 100%;
    }

    .diagonalDiv h2{
        text-align: left;
        color: white;
        font-size: 18pt;
    }

    .convertButton p{
        color: white;
        font-size: 18pt;
        line-height: 100%;
    }

    .convertButton{
        border: none;
        outline: none;
        padding: 30px;
        width: 80%;
        clip-path: polygon(100% 0, 0 15%, 0 85%, 100% 100%);
        margin-top: 20px;
        position: relative;
        background-color: var(--mainColor);
    }
}