.main{
    margin-top: 120px;
    width: 100%;
    background-color: var(--suportColor);
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    min-height: 800px;
}

.container{
    width: 90%;
    position: relative;
    display: flex;
    max-width: var(--max-width);

}

.mainTitle{
    color: white;
    font-weight: bold;
    font-size: 85pt;
    z-index: 3;
    font-family: var(--Epilogue);
}

.mainTitle strong{
    color: var(--mainColor);
}

.container h1{
    font-weight: 300;
    color: white;
    font-size: 19.3pt!important;
}

.container h1 strong{
    font-weight: 300;
    color: var(--mainColor);
    font-weight: bold
}

.container h1 span{
    font-weight: bold;
    text-decoration: underline var(--mainColor);
}

.content{
    z-index: 2;
    width: 100%;

}


.handsParallax{
    height: 600px;
    z-index: 1;
    width: 600px;
    position: absolute;
    top: 0;
    right: 0;
}

.handsbg{
    width: 600px;
    height: 600px;
    top: 0;
    position: absolute;
    right: 0;
}

.itemParallax{
    z-index: 1;
    top: 0;
    right: 0;
    margin-right: 560px;
    margin-top: -40px;
    position: absolute;
}

.mainButton{
    border: none;
    outline: none;   
    cursor: pointer;
    transition: all 500ms ease-in-out;
    background-color: transparent;
}

.mainButton:hover{
    opacity: 0.8;

}

.clipbg{
    color: white;
    background-color: var(--mainColor);
    border: none;
    outline: none;
    padding: 40px;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%)
}

.clipbg p{
    font-size: 19.3pt;
}



@media screen and (min-width: 850px) and (max-width:1024px){
    .handsParallax{
        height:350px;
        width: 350px;
        position: absolute;
        top: 0;
        margin-right: -30px;
        right: 0;
        transform: rotate(50deg);
        
    }
    
    .handsbg{
        width: 600px;
        
        height: 600px;
        top: 0;
        position: absolute;
        right: 0;
        
    }
    
    .itemParallax{
        z-index: 32;
        top: 0;
        right: 0;
        margin-right: 90vw;
        margin-top: 150px;
        
        position: absolute;
    }  
}

@media screen and (min-width: 550px) and (max-width:850px){
    .mainTitle{
        color: white;
        font-weight: bold;
        font-size: 65pt;
        z-index: 3;
        font-family: var(--Epilogue);
    }
    .handsParallax{
        height:250px;
        width: 250px;
        position: absolute;
        top: 0;
        margin-right: -30px;
        right: 0;
        transform: rotate(50deg);
        
    }
    
    .handsbg{
        width: 600px;
        
        height: 600px;
        top: 0;
        position: absolute;
        right: 0;
        
    }
    
    .itemParallax{
        z-index: 32;
        top: 0;
        right: 0;
        margin-right: 85vw;
        margin-top: 150px;
        
        position: absolute;
    }  
}

@media screen and (min-width: 0px) and (max-width: 550px){
    .main{
        margin-top: 120px;
        width: 100%;
        background-color: var(--suportColor);
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        flex-direction: column;
        height: 700px;
        min-height: 700px;
    }

    .content{
        z-index: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        height: 700px;
        align-items: center;
        position: relative;
    }
    
    .mainTitle{
        color: white;
        font-weight: bold;
        font-size: 3.2rem;
        z-index: 3;
        text-align: center;
        font-family: var(--Epilogue);
    }
    .handsParallax{
        height:250px;
        width: 250px;
        position: absolute;
        top: 0;
        margin-right: unset;
        margin-left: -50vw;
        right: unset;
        left: 0;
        
    }
    
    .handsbg{
        width: 120%;
        margin-right: -10%;
        height: 600px;
        top: 0;
        position: absolute;
        right: 0;
        
    }
    
    .itemParallax{
        z-index: 32;
        top: 0;
        right: 0;
        margin-right: 85vw;
        margin-top: 150px;
        
        position: absolute;
    }  

    .container h1{
        font-weight: 300;
        text-align: center;
        justify-content: center;
        color: white;
        font-size: 19.3pt!important;
    }

    .mainButton{
        border: none;
        outline: none;   
        background-color: transparent;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.whatsapp{
    width: 65px;
    margin-right: 30px;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 65px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99999999999999999;
    background-color: #25D366;
    transition: all 500ms;
  }
  .whatsapp:hover{
    background-color: #075E54;
  }