.main{
    background-color: var(--suportColor);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;

}

.container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    display: flex;
    text-align: center;
    width: 90%;
    max-width: var(--max-width);

}

.container h4{
    color: white;
    font-size: 35pt;
}

.container h4 span{
    position: relative;
    font-weight: bold;
    color: var(--mainColor);
}

.container h4 span img{
    position: absolute;
    right: 0;
    width: 100%;
    bottom: 0;
    margin-bottom: -10px;
}

.container p{
    color: white;
    font-size: 16pt;
    margin-top: 15px;
}

.container p span{
    font-weight: bold;
    color: var(--mainColor);
}

.cardsHere{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: center;
}

.MainCard{
    width: 350px;
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    justify-content: center;
    margin: 20px;
    text-align: left;
    transition: all 500ms ease-in-out;
    position: relative;
    padding: 40px;
}

.MainCard h4{
    color: var(--suportColor);
    font-weight: bolder!important;
    font-size: 25pt;
    transition: all 500ms ease-in-out;
    width: 100%;
}

.MainCard h4 span{
    color: var(--mainColor);
}

.MainCard p{
    width: 100%;
    text-align: left;
    color: var(--suportColor);
}

.MainCard p span{
    color: var(--suportColor);
    font-weight: bold;
}

.MainCardLast{
    width: 350px;
    height: 350px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.MainCardLast h4{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 25pt;
    transition: all 500ms ease-in-out;
    width: 100%;
}

.sendButton{
    background-color: var(--mainColor);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
    width: 230px;
    padding: 20px;
    opacity: 1;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    margin-top: 30px;
}
.sendButton:hover{
    opacity: 0.8;
}

.sendButton p{
    width: 100%!important;
    text-align: center;
    margin-top: 0px;
}

.sendButton p span{
    color: white;
}

.MainCard:hover {
    background-color: var(--mainColor);
}

.MainCard:hover h4{
    color: white;
}

.MainCard:hover h4 span{
    color: var(--suportColor);
}

.MainCard:hover p{
    color: white;
}
.MainCard:hover p span{
    color: white;
}

.clickCard{
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 500ms ease-in-out;
    margin-right: 30%;
    margin-bottom: -230px;
}

.MainCard:hover .clickCard{
    margin-bottom: 30px;
}

@media screen and (min-width: 850px) and (max-width:1024px){

}

@media screen and (min-width: 550px) and (max-width:850px){

}

@media screen and (min-width: 0px) and (max-width:550px){
    .container h4{
        color: white;
        font-size: 23pt;
    }

    .container p{
        width: 80%;
    }

    .MainCard h4{
        color: var(--suportColor);
    }
    .MainCard p{
        width: 100%;
        text-align: left;
        color: var(--suportColor);
    }
}

@media screen and (min-width: 0px) and (max-width: 350px)  {
    .MainCard{
        width: 280px;
        height: 280px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        justify-content: center;
        margin: 20px;
        text-align: left;
        transition: all 500ms ease-in-out;
        position: relative;
        padding: 30px;
    }  
}