.mainContentForm{
    width: 100%;
    position: relative;

    color: white;
}

.mainContentForm img{
    width: 100%;
    height: auto;
    
}

.FormMain{
    background-color: var(--suportColor);
    padding: 80px 50px;
    max-width: 550px;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
}

.FormMain p{
    font-size: 12pt;
    font-weight: 500;
    margin-bottom: 5px;
}

.FormMain p span{
    font-weight: bold;
}

.FormMain input{
    width: 100%;
    z-index: 100;
    z-index: 12;
    font-family: var(--Epilogue);
    font-weight: bold;
    font-size: 15pt;
    padding-left: 10px;
    transition: all 500ms ease-in-out;
    background-color: #ebebeb;
    border: none;
    height: 40px;
    margin-bottom: 30px;
}

.FormMain select{
    width: 100%;
    z-index: 100;
    z-index: 12;
    font-family: var(--Epilogue);
    font-weight: bold;
    font-size: 15pt;
    padding-left: 10px;
    transition: all 500ms ease-in-out;
    background-color: #ebebeb;
    border: none;
    height: 40px;
    margin-bottom: 30px;
}

.FormMain select option{
    padding-top: 10px;
    height: 30px;
}

.FormMain select option p{
    margin-top: 10px;
}



.convertItemDesc span{
    color: var(--suportColor);
    font-weight: bold;
}

.submitButton{
    background-color: var(--mainColor);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 9;
    bottom: 0;
    margin-bottom: -80px;
    right: 0;
    transition: all 500ms ease-in-out;
    margin-right: -50px;
    padding: 30px 40px;
    clip-path: polygon(100% 0, 0 5%, 0 95%, 100% 100%);
    position: absolute;
}

.submitButton:hover{
    opacity: 0.8;
}

.submitButton p{
    font-size: 15pt;
    font-weight: 500;

}

.submitButton p span{
    color: var(--suportColor);
}

.DetailItem{
    width: 110%;
    background-color: var(--mainColor);
    height: 15px;
    transform: rotate(-3deg);
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    margin-top: -1px;
}


@media screen and (min-width: 0px) and (max-width: 550px){
    .Main{
        width: 100%;
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('/bgFooter.svg');
        background-repeat: no-repeat;
        background-position: right;
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
        justify-content: center;
        background-color: var(--mainColor);
    }

    .Container{
        display: flex;
        max-width: var(--max-width);
        justify-content: center;
        width: 90%;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
    }

    
    .contentContact{
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contentContact h6{
        color: white;
        text-align: start;
        font-size: 32pt;
    }

    .contentContact h6 span{
        color: var(--suportColor);
    }

    .contentContactDesc{
        color: white;
        font-size: 15pt;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .contentContactDesc span{
        font-weight: bold;

        color: var(--suportColor);
    }

    .contentForm{
        width: 100%;
        max-width: 550px;
        margin-top: 80px;
        position: relative;
    }

    .arrowIcon{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateX(-30%) rotate(-300deg);

        margin-bottom: -10px;
        margin-left: -20px;
    }
    
    .FormMain{
        background-color: var(--suportColor);
        margin-top: -130px;
        padding: 60px 30px;
        max-width: 550px;
        position: relative;
        clip-path: polygon(100% 0, 0 5%, 0 95%, 100% 100%);
    }


    .convertItemDesc{
        text-align: center;
    }

    .contentContactDesc{
        text-align: center;
    }      
    
    .submitButton{
        background-color: var(--mainColor);
        color: white;
        border: none;
        cursor: pointer;
        z-index: unset;
        bottom: 0;
        margin-bottom: -80px;
        right: 0;
        left: 0;
        transition: all 500ms ease-in-out;
        margin-right: 0px;
        width: 110%;
        margin-left: -5%;
        padding: 30px 40px;
        clip-path: polygon(100% 0, 0 5%, 0 95%, 100% 100%);
        position: absolute;
    }

    .submitButton span{
        font-weight: bold;
    }

    .footerTel {
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translateX(-50% 50%) rotate(300deg);
        margin-bottom: -280px;
        transform: rotate(290deg);
    }

    .lastItem img{
        width: 270px;
        height: 50px;
        max-width: unset;
        
    }
}



@media screen and (min-width:0px) and (max-width: 340px){
    .submitButton p{
        font-size: 11pt;
    }

    .FormMain{
        margin-top: -120px;
        background-color: var(--suportColor);
        padding: 50px 20px;
        max-width: 550px;
        position: relative;
        clip-path: polygon(100% 0, 0 5%, 0 95%, 100% 100%);
    }
}
