.containerTitle{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--mainColor);
  justify-content: center;
}

.titleHere{
  width: 90%;
  max-width: var(--max-width);
}
.titleHere h1{
  width: 50%;
  font-size: 35pt;
}

.titleHere h1 span{
  color: white;
}

.titleHereMain{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 90%;
  align-items: flex-start;
  justify-content: space-between;
  max-width: var(--max-width);
  display: flex;
}

.container pre{
  font-family: var(--Epilogue);
  color: var(--supportColor);
  font-weight: 400;
  margin-top: 30px;
  width: 45%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  white-space: break-spaces;
}

.container pre p{
  font-size: 16pt;
}

.FormContainer{
  z-index: 2;
  margin-top: -130px;
  background-color: var(--supportColor);
  width: 45%;
}


@media screen and (min-width:0px) and (max-width: 1024px){
  .titleHere{
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    max-width: var(--max-width);
  }
  .titleHere h1{
    width: 100%;
  }
  
  .titleHere h1 span{
    color: white;
  }

  .container{
    width: 90%;
    align-items: center;
    justify-content: center;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
  }
  
  .container pre{
    font-family: var(--Epilogue);
    color: var(--supportColor);
    font-weight: 400;
    margin-top: 30px;
    width: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    white-space: break-spaces;
  }
  

  .FormContainer{
    z-index: 2;
    margin-top: 100px;
    background-color: var(--supportColor);
    width: 100%;
    max-width: 500px;
  }
  
}


.whatsapp{
    width: 65px;
    margin-right: 30px;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 65px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99999999999999999;
    background-color: #25D366;
    transition: all 500ms;
  }
  .whatsapp:hover{
    background-color: #075E54;
  }